/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(0, 0, 0);
  font-size: 18px;
}

.center {
  text-align: center;
}

.image-gallery {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.img-container {
  flex: 1 1 100%;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  width: 100%;
}

/* Header Styles */
header {
  /* position: sticky;
  top: 0; */
  background-color: rgb(60, 60, 151);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 3.75rem;
  width: 100%;
  padding: 0 1rem;
}

header a {
  color: rgb(202, 202, 202);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links a {
  margin: 0 1rem 0 0;
}

/* Banner Section Styles */
.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/Leonardo_Select_Space_Ship_Cargo_Bomb_0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 37rem;
  overflow: hidden;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(60, 60, 151);
  width: 100%;
  min-height: 7.5rem;
  padding: 1rem;
}

.banner h1 {
  color: rgb(202, 202, 202);
  font-size: 3rem;
  margin: auto 0;
}

.banner h2 {
  color: rgb(202, 202, 202);
}

/* Chapter Info Styles */
.chapter-info {
  color: rgb(214, 145, 16);
  position: relative;
  padding: 3rem;
  height: 12.5rem;
}

.chapter-info h3 {
  color: rgb(172, 169, 21);
  margin-top: 1rem;
}

/* Image Banner Styles */
.image-banner {
  min-height: 10rem;
}

/* Quote Styles */
.quote {
  background-color: rgb(60, 60, 151);
  padding: 3rem;
  height: 20rem;
  width: 100%;
}

.cite {
  position: relative;
  float: right;
}

/* Image Gallery B Styles */
.b {
  align-items: center;
  justify-content: space-evenly;
  min-height: 10rem;
}

/* Outro Styles */
.outro {
  color: rgb(214, 145, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 62.5rem;
  padding: 7rem;
}

.outro .img-container {
  height: 50%;
  width: 75%;
  margin: 3rem;
}

footer {
  background-color: rgb(60, 60, 151);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 3.75rem;
  width: 100%;
  padding: 0 1rem;
}

footer a {
  color: rgb(202, 202, 202);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}
